h1{
    color:blue;
    font-weight: bolder;
}
.highlight{
    background-color: yellow;
    font-style: italic;
}

#main-menu{
    border: solid black 2px;
    border-radius: 10px;
}

.highlight .highlight{
    color: blue

}

article p{
    border: dotted blueviolet 3px
    ;
}

h2{
    font-size: 0,5em;
    text-transform: uppercase;
}

img{
    width: 150px;
}


.parent div{
    width:200px; 
    height:200px;  
    display: inline-block;
    }

    .carre1{
        background-color: blue;
    }

    .carre2{
        background-color: crimson;
    }

    .carre3{
        background-color: cyan;
    }

    .carre4{
        background-color: darkorchid;
    }

    .menu li{
        color: deeppink;
        display: inline-block;
    }